/* COLORS */
$color-white: #FFFFFF;
$color-black: #000000;
$color-grey-10: #F5F5F5;
$color-grey-20: #D9D9D9;
$color-grey-30: #BDBDBD;
$color-grey-40: #A1A1A1;
$color-grey-50: #858585;
$color-grey-60: #696969;
$color-grey-80: #303030;
$color-grey-90: #141414;

$color-purple-10: #F3ECFE;
$color-purple-20: #D6BDFA;
$color-purple-30: #B98DF6;
$color-purple-40: #9C5EF3;
$color-purple-50: #7F2FEF;
$color-purple-60: #6511DA;
$color-purple-70: #4F0DAA;
$color-purple-80: #39097B;
$color-purple-90: #270755;

$color-teal-10: #EDFBFD;
$color-teal-30: #91E7F3;
$color-teal-80: #0D6A77;
$color-teal-90: #094953;

/* FONT SIZES */
$font-size-5x-large: 3.5rem;
$font-size-4x-large: 3rem;
$font-size-3x-large: 2.15rem;
$font-size-2x-large: 1.75rem;
$font-size-large: 1.125rem;
$font-size-medium: 1rem;
$font-size-small: 0.875rem;
$font-size-2x-small: 0.75rem;

/* FONT WEIGHTS */
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;

/* LINE HEIGHT */
$font-line-height-small: 140%;
$font-line-height-large: 164%;
$font-line-height-medium: 154%;

/*BORDER RADIUS */
$border-radius-small: 0.25rem;
$border-radius-medium: 0.5rem;
$border-radius-large: 32rem;